<div class="login-container form-group">
  <h1>Iniciar sesión</h1>
  <div class="grid">
    <div
      class="col-5 flex align-items-center justify-content-center form-group"
    >
      <div class="p-fluid">
        <div class="field">
          <label for="email">Email</label>
          <input [(ngModel)]="email" pInputText id="username" type="text" />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <p-password [(ngModel)]="password" [feedback]="false"></p-password>
        </div>
        <div class="field">
          <button pButton (click)="login()" label="login"></button>

          <p-messages
            [(value)]="mensaje"
            [enableService]="false"
            [closable]="true"
          ></p-messages>
        </div>
      </div>
    </div>
    <div class="col-2">
      <p-divider layout="vertical">
        <b>OR</b>
      </p-divider>
    </div>
    <div class="col-5 flex align-items-center justify-content-center">
      <p-button
        label="Sign Up"
        icon="pi pi-user-plus"
        styleClass="p-button-success"
        (click)="irRegistro()"
      ></p-button>
    </div>
  </div>
</div>
