<!-- <div class="col">
  <app-tuit-crear></app-tuit-crear>
  <p-table [value]="tuits" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="body" let-tuit>
      <tr>
        <td *ngIf="comprobarSeguimiento(tuit.usuario.id)">
          <p-card>
            <ng-template pTemplate="header">
              <p-divider></p-divider>
              <div class="col-12 md:col-4">


              </div>
              <p-avatar label="{{tuit.usuario.nombreUsuario[0]}}" styleClass="mr-2"  shape="circle"></p-avatar>
              {{ tuit.usuario.nombreUsuario }}
            </ng-template>
            <p class="m-0">
              {{ tuit.contenido }}
            </p>
            <ng-template pTemplate="footer">

              <i class="pi pi-heart" style="font-size: 1rem"></i>
               {{tuit.likes.length}}   Publicado el {{ tuit.fechaPublicacion | date }}
              <p-divider></p-divider>
              <app-comentar [idTuit]="tuit.id"></app-comentar>
              <app-mostrar-comentarios
                [idTuit]="tuit.id"
              ></app-mostrar-comentarios>
            </ng-template>
          </p-card>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div> -->

<div class="col">
  <div class="container align-items-center">

    <app-tuit-crear ></app-tuit-crear>
  </div>
  <p-table [value]="tuits" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="body" let-tuit>
      <tr>
        <td *ngIf="comprobarSeguimiento(tuit.usuario.id)">
          <div class="tuit">
            <div class="tuit-header">
              <p-avatar label="{{ tuit.usuario.nombreUsuario[0] }}" styleClass="mr-2" shape="circle"></p-avatar>
              <div class="tuit-username">
                {{ tuit.usuario.nombreUsuario }}
              </div>
            </div>
            <div class="tuit-content">
              {{ tuit.contenido }}
            </div>
            <div class="tuit-footer">
              <div class="tuit-footer-left">
                <!-- <i class="pi pi-heart"></i>
                {{ tuit.likes.length }} -->
              </div>
              <div class="tuit-footer-right">
                Publicado el {{ tuit.fechaPublicacion | date }}
              </div>
            </div>
            <div class="tuit-actions">
              <app-comentar [idTuit]="tuit.id"></app-comentar>
              <app-mostrar-comentarios [idTuit]="tuit.id"></app-mostrar-comentarios>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
