

<app-navbar> </app-navbar>
<div class="grid mt-5">
  <div class="col">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-7">
<div class="col">
  <div class="container align-items-center">

    <app-tuit-crear ></app-tuit-crear>
  </div>
  <p-table [value]="tuits" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="body" let-tuit>
      <tr>
        <td *ngIf="comprobarSeguimiento(tuit.usuario.id)">
          <div class="tuit">
            <div class="tuit-header">
              <p-avatar label="{{ tuit.usuario.nombreUsuario[0] }}" styleClass="mr-2" shape="circle"></p-avatar>
              <div class="tuit-username">
                {{ tuit.usuario.nombreUsuario }}
              </div>
            </div>
            <div class="tuit-content">
              {{ tuit.contenido }}
            </div>
            <div class="tuit-footer">
              <div class="tuit-footer-left">

              </div>
              <div class="tuit-footer-right">
                Publicado el {{ tuit.fechaPublicacion | date }}
              </div>
            </div>
            <div class="tuit-actions">
              <app-comentar [idTuit]="tuit.id"></app-comentar>
              <app-mostrar-comentarios [idTuit]="tuit.id"></app-mostrar-comentarios>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
  </div>
  <div class="col"><app-barra-derecha></app-barra-derecha></div>
</div>
